# ---- Адаптер ----
  source [find interface/cmsis-dap.cfg]
# source [find interface/stlink.cfg]

# ---- Таргет STM32F030F4P6 ----
# 4 КБ RAM — під робочу область прошивальника віддаємо всю
set WORKAREASIZE 0x1000
source [find target/stm32f0x.cfg]

# ---- Стримати розгін SWD ----
# Штатний reset-init розганяє чіп через PLL до 48 МГц (це добре)
# і слідом задирає SWD до 8 МГц (а це забагато для WCH-Link на дротах).
# Викликаємо штатну процедуру, але швидкість лишаємо помірною.
stm32f0x.cpu configure -event reset-init {
    stm32f0x_default_reset_init
    adapter speed 500
}

adapter speed 500